@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
}

@layer components {
  .lottie {
    transform: none !important;
  }

  .lottie,
  .lottie path {
    fill: currentColor !important;
    stroke: currentColor !important;
  }

  .cursor,
  .cursor * {
    cursor: none !important;
  }
}
